.testimonials {
  grid-column: col-start 2 / col-end 11;

  padding: 15rem 0;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 10rem;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 2rem;
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
    @media only screen and (max-width: $bp-medium) {
      grid-row-gap: 5rem;
    }
  }

  &__img {
    width: 8rem;
    height: 8rem;
    border-radius: 10rem;
  }

  &__details {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 5rem;
    padding: 0 3rem;
    @media only screen and (max-width: $bp-medium) {
      padding: 0;
      align-items: start;
    }
  }

  &__paragraph {
    font-size: 1.6rem;
    color: $color-dark-grayish-blue;
    text-align: center;
  }
}
